
html, body {
    height: 100%;
    width: 100%;
}

#player {
    position: absolute;
    top: -100000px !important;
}

#gif {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}